
body{

    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;

    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;

    background-color: var(--color-window);
    background-image: var(--gradient-window);

}