
.ai-auth{

    width: 100%;
    height: auto;

    max-width: 380px;

    border: var(--border-back);
    border-radius: var(--radius-medium);
    overflow: hidden;

    background-color: var(--color-window);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--gap-mega);
    padding-bottom: var(--gap-large);

}

    .ai-auth .fields{
        gap: var(--gap-large);
        padding: 0 var(--gap-large);
    }

    .ai-auth .ai-group.extra{
        font-size: var(--font-size-small);
        gap: var(--gap-small);
    }

    .ai-auth .footer{
        width: 100%;
        padding: 0 var(--gap-large);
    }