
.ai-list{

    width: 100%;
    height: auto;

    max-width: var(--col-max-width);
    max-height: 100vh;

    border: var(--border-back);
    border-radius: var(--radius-medium);
    overflow: hidden;

    background-color: var(--color-window);
    background-image: var(--gradient-window);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--gap-mega);
    padding-top: var(--gap-mega);
    padding-bottom: var(--gap-large);

}

    .ai-list .content{
        display: flex;
        flex-direction: column;
        gap: var(--gap-large)
    }

    .ai-list .content > * {
        flex: none;
        padding: 0 var(--gap-large);
        max-width: unset;
    }

    .ai-list .content .items{
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        gap: var(--gap-large);

        margin: 0;
        padding: var(--gap-large);

        border-top: var(--border-back);
        border-bottom: var(--border-back);
        background-color: var(--color-window);
        
        overflow: auto;
    }

    .dark-mode .ai-list .content .items{
        background-color: var(--color-window);
    }

        .ai-list .content .items > *{
            flex: none;
        }