

.ai-button{
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-medium);

    width: 100%;
    height: var(--input-height);
    max-width: var(--input-max-width);
    padding: 0 var(--gap-medium);

    background-color: var(--color-back);
    border-radius: var(--radius-regular);

    font-weight: var(--font-semibold);
    color: var(--color-window);
}

.ai-button[data-loading]{
    --load-color: var(--color-window);
}

.ai-button[data-enabled][data-loading]{
    --load-color: var(--color-incontent);
}

.ai-button[data-enabled]{
    background-color: var(--color-main);
    color: var(--color-incontent);
}

.ai-button[data-enabled][data-careful]{
    background-color: var(--color-back);
    color: var(--color-main);
}

.ai-button[data-success]{
    background-color: var(--color-ok);
    color: var(--color-incontent);
}

    .ai-button span{
        flex: 1 1 auto;
        text-align: right;
    }

    .ai-button[data-loading] span{
        display: none;
    }

/* .ai-button.small{
    justify-content: center;
    width: var(--input-height);
    padding: 0;
}
    .ai-button.small p{
        display: none;
    } */
