

.ai-entity{
    user-select: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);

    padding: var(--gap-medium);
    background-color: var(--color-window);
    border-radius: var(--radius-regular);
    border: var(--border-back);
}

.dark-mode .ai-entity{
    border: var(--border-none);
}

.ai-entity[data-selected]{
    border: var(--border-main);
}

.ai-entity[data-selected="readonly"]{
    border: var(--border-ok);
}

    .ai-entity-label{
        display: flex;
        align-items: center;
        gap: var(--gap-regular);

        height: 60px;
        padding: 0 var(--gap-regular);

        background-color: var(--color-main);
        border-radius: var(--radius-regular);
    }

    .dark-mode .ai-entity-label{
        background-color: var(--color-back);
    }

        .ai-entity-label span{
            font-size: var(--font-size-mega);
            color: var(--color-incontent);
        }

        .dark-mode .ai-entity-label span{
            color: var(--color-main);
        }

        .ai-entity-label h3{
            color: var(--color-incontent);
            font-size: var(--font-size-medium);
            font-weight: var(--font-semibold);
            line-height: var(--line-height);
            text-transform: capitalize;
        }

        .ai-entity-label p{
            color: var(--color-subcontent);
            text-transform: capitalize;
        }

    .ai-entity .commands{
        display: none;
        flex-direction: row;
        gap: var(--gap-medium);
    }

    .ai-entity[data-selected] .commands{
        display: flex;
    }

    .ai-entity[data-selected="readonly"] .commands{
        display: none;
    }

    .ai-entity .address{
        color: var(--color-subcontent);
        font-size: var(--font-size-small);
        font-weight: var(--font-medium);
        align-self: center;
    }

    .ai-entity .address:empty{
        display: none;
    }