
.ai-auth{

    width: 100%;
    height: auto;

    max-width: var(--col-max-width);

    border: var(--border-back);
    border-radius: var(--radius-medium);
    overflow: hidden;

    background-color: var(--color-window);
    background-image: var(--gradient-window);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--gap-mega);
    padding-bottom: var(--gap-large);

}

    .ai-auth header{
        width: 100%;
        height: 100px;

        background-color: var(--color-main);

        display: flex;
        align-items: center;
        justify-content: center;

        gap: var(--gap-regular);
    }

    .ai-auth header svg{
        height: 60px;
    }

    .ai-auth .valuables{
        gap: var(--gap-large);
        padding: 0 var(--gap-large);
    }

    .ai-auth footer{
        width: 100%;
        padding: 0 var(--gap-large);
    }