

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{

    --hue: 250;
    --bright: 65%;

    --color-window: hsl(var(--hue), 0%, 100%);
    --color-window-gradient: hsl(var(--hue), 0%, 90%);

    --color-back: hsl(var(--hue), 20%, 85%);
    --color-content: hsl(var(--hue), 100%, 20%);
    --color-incontent: hsl(var(--hue), 0%, 100%);
    --color-subcontent: hsl(var(--hue), 20%, 70%);

    --color-main: hsl(var(--hue), 100%, var(--bright));
    --color-secondary: #ffd9b3;

    --color-success:  #58ce6c;
    --color-warn: #FFAD4D;
    --color-error:  #FF4C4D;
    --color-link: inherit;

    --border-size: 1px;
    --border-none: var(--border-size) solid transparent;
    --border-window: var(--border-size) solid var(--color-window);
    --border-back: var(--border-size) solid var(--color-back);
    --border-content: var(--border-size) solid var(--color-content);
    --border-incontent: var(--border-size) solid var(--color-incontent);
    --border-subcontent: var(--border-size) solid var(--color-subcontent);
    
    --border-main: var(--border-size) solid var(--color-main);
    --border-success: var(--border-size) solid var(--color-success);
    --border-warn: var(--border-size) solid var(--color-warn);
    --border-error: var(--border-size) solid var(--color-error);

    --gradient-window: linear-gradient(-45deg, var(--color-window-gradient) 0%, var(--color-window) 100%);

    --font-default:  'Inter', Arial, Helvetica, sans-serif;
    --font-mono:     monospace;
    
    --font-main:     var(--font-default);
    --font-title:    var(--font-default);

    --font-thin:     300;
    --font-regular:  400;
    --font-medium:   500;
    --font-semibold: 600;
    --font-bold:     700;

    --font-size-small: 1.4rem;
    --font-size-regular: 1.6rem;
    --font-size-medium: 2rem;
    --font-size-large: 2.6rem;
    --font-size-mega: 3.6rem;

    --font-size-icon: 2.4rem;
    --font-size-icon-large: 3.2rem;

    --radius-small: 5px;
    --radius-regular: 10px;
    --radius-medium: 20px;

    --gap-small: 5px;
    --gap-regular: 15px;
    --gap-medium: 20px;
    --gap-large: 25px;
    --gap-mega: 50px;

    --line-height: 1.2;

    --input-height: 50px;
    --input-max-width: 340px;
    --data-max-width: 510px;
    --col-max-width: 380px;

    font-family: var(--font-default);
    color: var(--color-content);

}

body.dark-mode{
    --color-window-gradient: hsl(var(--hue), 20%, 10%);
    --color-window: hsl(var(--hue), 25%, 20%);
    
    --color-back: hsl(var(--hue), 20%, 30%);
    --color-content: hsl(var(--hue), 0%, 100%);
    --color-incontent: hsl(var(--hue), 0%, 100%);
    --color-subcontent: hsl(var(--hue), 20%, 70%);
}

*{
    /* this can affect materials-icons */
    line-height: inherit;
}

p{
    line-height: var(--line-height);
}

.material-symbols,
.material-symbols-outlined,
.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp,
.material-icons-two-one{
    line-height: normal !important;
    font-weight: 400 !important;
}

h1, h2, h3, h4, h5{
    font-family: var(--font-title);
}

