

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{

    --hue: 240;

    --color-window: hsl(var(--hue), 0%, 100%);
    --color-back: hsl(var(--hue), 20%, 80%);
    --color-content: hsl(var(--hue), 20%, 20%);
    --color-subcontent: hsl(var(--hue), 20%, 40%);

    --color-main: #6A4CFF;
    --color-secondary: #FFD3BD;

    --color-ok:  #4CFF6A;
    --color-warn: #FFA64C;
    --color-error:  #FF4C4D;
    --color-link: inherit;

    --border-back: 2px solid var(--color-back);

    --font-default:  'Inter', Arial, Helvetica, sans-serif;
    --font-mono:     monospace;
    
    --font-main:     var(--font-default);
    --font-title:    var(--font-default);

    --font-thin:     300;
    --font-regular:  400;
    --font-medium:   500;
    --font-semibold: 600;
    --font-bold:     700;

    --font-size-small: 1.4rem;
    --font-size-regular: 1.6rem;
    --font-size-medium: 2.6rem;
    --font-size-large: 3.6rem;

    --radius-small: 5px;
    --radius-regular: 10px;
    --radius-medium: 20px;

    --gap-small: 5px;
    --gap-regular: 15px;
    --gap-medium: 20px;
    --gap-large: 25px;
    --gap-mega: 50px;

    --line-height: 1.4;

    --input-height: 50px;
    --input-max-width: 380px;

    font-family: var(--font-default);
    color: var(--color-content);

}

body.dark-mode{
    --color-window: hsl(var(--hue), 20%, 20%);
    --color-back: hsl(var(--hue), 20%, 30%);
    --color-content: hsl(var(--hue), 0%, 100%);
    --color-subcontent: hsl(var(--hue), 20%, 70%);
}

*{
    /* this can affect materials-icons */
    line-height: inherit;
}

.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp,
.material-icons-two-one{
    line-height: normal;
}

h1, h2, h3, h4, h5{
    font-family: var(--font-title);
}

