
.ai-field{

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: var(--input-max-width);

    gap: var(--gap-regular);

}

    .ai-field > *{
        padding: 0 var(--radius-regular);
    }

    .ai-field[data-required] .ai-label{
        padding-left: 0;
    }

    .ai-field .input{

        height: var(--input-height);
        border: var(--border-back);
        border-radius: var(--radius-regular);
        background-color: transparent;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        gap: var(--gap-small);
        padding: 0 var(--gap-medium);

    }

    .ai-field[data-completed] .input{

        border: var(--border-none);
        border-radius: var(--radius-regular);
        color: var(--color-incontent);
        background-color: var(--color-back);

    }

    .ai-field[data-success] .input{
        border: var(--border-success);
    }

    .ai-field[data-failed] .input{
        border: var(--border-error);
    }

    .ai-field[data-careful] .input{
        border: var(--border-warn);
    }

    .ai-field[data-careful][data-completed] .input{
        border: var(--border-success);
    }

        .ai-field .input input{
            flex: 1 1 auto;
        }

        .ai-field .input span{
            flex: none;
            align-self: center;
            color: var(--color-main);
        }

        .ai-field[data-loading] .input span,
        .ai-field[data-success] .input span{
            display: none;
        }

    .ai-field .fail,
    .ai-field .require{
        font-size: var(--font-size-small);
        color: var(--color-subcontent);
    }

    .ai-field .fail{
        display: none;
        color: var(--color-error);
    }

    .ai-field[data-failed] .fail{
        display: block;
    }